/*h4 {
	text-align: right;
}
article {
	width: 250px;
	text-align: justify;
}
p {
	margin: 0px;
	text-indent: 15px;
}
div {
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #fff1e0;
	font-size: 11px;
	text-indent: 15px;
	font-family: Arial;
}
aside {
	text-align: right;
}

h3 {
	font-family: Arial;
	margin-bottom: 7px;
}

.number {
	background-color: #1800f8;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: Arial;
	font-size: 20px;
}

.beginning {
	margin: 1px;
	padding: 0px;
}

.inline-text {

}*/